#wap
  min-height 100%
  height auto
  margin 0 auto -60px
  padding 70px 0 60px

  .post-list
    margin 0px 0px 10px 0px

  .post-list-item
    margin 0px 0px 10px 0px

body
  font-family Consolas, monaco, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", "sans-serif"
  font-size 14.5px
  line-height 1.8