<div class="container hidden-print">
  <p class="text-center">
    <i class="fa fa-copyright"></i> 2015 RockyChen Blog. Theme designed by Junez with <a href="http://hexo.io" target="_blank">hexo</a>, <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> and <a href="http://fortawesome.github.com/Font-Awesome/" target="_blank">Font Awesome</a>.

    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255989082'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1255989082' type='text/javascript'%3E%3C/script%3E"));</script>

  </p>
</div>